body {
  color: #351f21;
  font-weight: 400;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 450px;
}
.hero-text h1 {
  font-weight: 600;
}
.hero-text p {
  font-weight: 300;
}

.hero-img img {
  max-width: 350px;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  margin: 10px;
}

.card img {
  width: 220px;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #ffc2c7;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}

.about {
  padding: 40px;
  text-align: left;
}

.about-img {
  max-width: 350px;
  width: 100%;
  margin-top: 20px;
}

.features {
  background: #989ec3;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
  text-align: center;
}

/* Адаптивність */
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero-text {
    max-width: 100%;
  }
  .header {
    flex-direction: column;
    gap: 10px;
  }
}
